.App {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  text-align: center;
}
.container {
  padding: 40px;
  position: relative;
}
.wrapper {
  display: flex;
  gap: 4px;
}
.day {
  height: 14px;
  width: 14px;
  border: 1px solid #1b1f230f; 
}
.day:not(.success, .fail) {
  background-color: #ebedf0;
} 

.week:nth-child(1)::after,
.week:nth-child(5)::after,
.week:nth-child(9)::after,
.week:nth-child(14)::after,
.week:nth-child(18)::after,
.week:nth-child(23)::after,
.week:nth-child(27)::after,
.week:nth-child(31)::after,
.week:nth-child(36)::after,
.week:nth-child(40)::after,
.week:nth-child(44)::after,
.week:nth-child(49)::after {
  display: inline-block;
  margin-top: 6px;
  font-size: 8px;
}

.week:nth-child(1)::after {
  content: "Jan";
}
.week:nth-child(5)::after {
  content: "Feb";
}
.week:nth-child(9)::after {
  content: "Mar";
}
.week:nth-child(14)::after {
  content: "Apr";
}
.week:nth-child(18)::after {
  content: "May";
}
.week:nth-child(23)::after {
  content: "Jun";
}
.week:nth-child(27)::after {
  content: "Jul";
}
.week:nth-child(31)::after {
  content: "Aug";
}
.week:nth-child(36)::after {
  content: "Sep";
}
.week:nth-child(40)::after {
  content: "Oct";
}
.week:nth-child(44)::after {
  content: "Nov";
}
.week:nth-child(49)::after {
  content: "Dec";
}

.week {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.week:nth-child(1) .day::before {
  display: inline-block;
  position: absolute;
  left: 20px;
  font-size: 8px;
  text-align: right;
}
.week:nth-child(1) .day:nth-child(1)::before {
  content: "Sun";
}
.week:nth-child(1) .day:nth-child(2)::before {
  content: "Mon";
}
.week:nth-child(1) .day:nth-child(3)::before {
  content: "Tue";
}
.week:nth-child(1) .day:nth-child(4)::before {
  content: "Wed";
}
.week:nth-child(1) .day:nth-child(5)::before {
  content: "Thur";
}
.week:nth-child(1) .day:nth-child(6)::before {
  content: "Fir";
}
.week:nth-child(1) .day:nth-child(7)::before {
  content: "Sat";
}

.success {
  background: #4BB543;
}
.fail {
  background:#FC100D;
}
